
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
  
    <div class="form-floating">
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        placeholder="Name"
        [(ngModel)]="user.name"
        #name="ngModel"
        required
        maxlength="20"
      />
      <label for="name">Name</label>
    </div>
    <div *ngIf="(name.invalid && name.touched) || name.dirty">
      <div class="alert alert-danger" *ngIf="name.errors?.['required']">
        Name is required
      </div>
      <div class="alert alert-danger" *ngIf="name.errors?.['maxlength']">
        Max lenth is 20
      </div>
    </div>
  
    <div class="form-floating">
      <input
        type="text"
        name="surname"
        class="form-control"
        id="surname"
        placeholder="surname"
        [(ngModel)]="user.surname"
        #surname="ngModel"
        required
        maxlength="20"
      />
      <label for="surname">Surname</label>
    </div>
    <div *ngIf="(surname.invalid && surname.touched) || surname.dirty">
      <div class="alert alert-danger" *ngIf="surname.errors?.['required']">
        Surname is required
      </div>
      <div class="alert alert-danger" *ngIf="surname.errors?.['maxlength']">
        Max lenth is 20
      </div>
    </div>
  
    <div class="form-floating">
      <input
        type="text"
        name="patronymic"
        class="form-control"
        id="patronymic"
        placeholder="patronymic"
        [(ngModel)]="user.patronymic"
        maxlength="20"
      />
      <label for="name">Patronymic</label>
    </div>
  
    <div class="form-floating">
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        email
        #email="ngModel"
        [(ngModel)]="user.email"
        required
        maxlength="300"
      />
      <label for="email">Email address</label>
    </div>
    <div *ngIf="(email.invalid && email.touched) || email.dirty">
      <div class="alert alert-danger" *ngIf="email.errors?.['required']">
        Email address is required
      </div>
      <div class="alert alert-danger" *ngIf="email.errors?.['email']">
        Email address is invalid
      </div>
      <div class="alert alert-danger" *ngIf="email.errors?.['maxlength']">
        Max lenth is 300
      </div>
    </div>
  
    <div class="form-floating">
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Password"
        #password="ngModel"
        [(ngModel)]="user.password"
        required
        minlength="10"
        maxlength="300"
      />
      <label for="password">Password</label>
    </div>
    <div *ngIf="(password.invalid && password.touched) || password.dirty">
      <div class="alert alert-danger" *ngIf="password.errors?.['required']">
        Password is required
      </div>
      <div class="alert alert-danger" *ngIf="password.errors?.['minlength']">
        Min length is 10
      </div>
      <div class="alert alert-danger" *ngIf="password.errors?.['maxlength']">
        Max lenth is 300
      </div>
    </div>
  
    <div class="form-floating">
      <input
        type="password"
        name="passwordConfirm"
        class="form-control"
        id="passwordConfirm"
        placeholder="Password Confirm"
        #passwordConfirm="ngModel"
        [(ngModel)]="user.passwordConfirm"
        required
        minlength="10"
        maxlength="300"
      />
      <label for="passwordConfirm">Password Confirm</label>

    </div>
    <div
      *ngIf="
        (passwordConfirm.invalid && passwordConfirm.touched) ||
        passwordConfirm.dirty
      "
    >
      <div
        class="alert alert-danger"
        *ngIf="passwordConfirm.errors?.['required']"
      >
        Password Confirm is required
      </div>
      <div
        class="alert alert-danger"
        *ngIf="passwordConfirm.errors?.['minlength']"
      >
        Min length is 10
      </div>
      <div
        class="alert alert-danger"
        *ngIf="passwordConfirm.errors?.['maxlength']"
      >
        Max length is 300
      </div>
      <div
        class="alert alert-danger"
        *ngIf="passwordConfirm.value != password.value"
      >
        Passwords doesn't match
      </div>
    </div>
  
    <div class="form-floating">
      <input
        type="date"
        name="birthDate"
        class="form-control"
        id="birthDate"
        min="1900-01-01"
        max="2015-01-01"
        placeholder="Birth Date"
        #birthDate="ngModel"
        [(ngModel)]="user.birthDate"
      />
      <label for="birthDate">Birth Date</label>
    </div>
    <div *ngIf="(birthDate.invalid && birthDate.touched) || birthDate.dirty">
      <div class="alert alert-danger" *ngIf="birthDate.value < '1900-01-01'">
        Min date is 01.01.1900
      </div>
      <div class="alert alert-danger" *ngIf="birthDate.value > '2015-01-01'">
        Max date is 01.01.2015
      </div>
    </div>
  
    <div class="form-floating">
      <select
        class="form-select"
        id="gender"
        [(ngModel)]="user.gender"
        name="gender"
      >
        <option selected>Select gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="nonbinary">nonbinary</option>
        <option value="other">Other</option>
      </select>
      <label for="gender">Gender</label>
    </div>
  
    <button
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      [disabled]="!form.form.valid"
    >
      Sign up
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
